<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
    <title>GnuCash - {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="static/gnucash.css" />
</head>

<body>
<h1>GnuCash - {{ title }}</h1>

<ul>
{% for entry in accounts_list %}
{% if entry == '+++' %}
<ul>
{% else %}
    {% if entry == '---' %}
        </ul>
    {% else %}
        <li><a href="account/{{ entry.1 }}/">{{ entry.0 }}</a></li>
    {% endif %}
{% endif %}

{% endfor %}
</ul>

</body>
</html>

